body {
  background-color: rgb(238, 238, 238);
}

#nav-color {
  color: white;
  background-color: rgb(1, 40, 58);
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
